/* styles.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/Users/kennyverse/Desktop/myproject/Mental Health quiz/Quiz/IMG_0485.jpg') no-repeat center center fixed;
  background-size: cover;
}

  
  .quiz-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }
  
  h1 {
    text-align: center;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  button.hidden {
    display: none;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .options {
    list-style-type: none;
    padding: 0;
  }
  
  .options li {
    margin: 10px 0;
  }
  
  .options button {
    width: 100%;
    text-align: left;
  }
  